/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    position: sticky;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    margin-left: 20px;
}

.navbar-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navbar-list li a:hover {
    color: #ddd;
}
nav .menu{
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width:2.25rem ;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}